<div class="main_search">
  <span class="form">
    <h4 id="tag_line">"Thousands of events and millions of tickets all in one spot!"</h3>
    <%= form_tag events_path, method: :get, authentication: false, id: 'search-form' do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search by Event, Artist, Team, or Venue"  %>
      <%= submit_tag "Search", id: "submit"%>
      <%= hidden_field_tag "latitude" %>
      <%= hidden_field_tag "longitude" %>
    <% end %>
  </span>
</div>

</br>

<div id="response_showcase">
  <%= render "form" %>
</div>
