<div class="main_search">
  <span class="form">
    <%= form_tag events_path, method: :get, authentication: false, id: 'search-form' do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search for an performer, venue, or team."  %>
      <%= select_month(14, prefix:"start", prompt:"Choose Start Month") %> <%= select_month(14, prefix:"end", prompt:"Choose End Month") %>
      <%= select_year(2016, prefix:"year", start_year: 2016, end_year: 2018) %>
      <%= submit_tag "Search", id: "submit"%>
      <%= hidden_field_tag "latitude" %>
      <%= hidden_field_tag "longitude" %>
    <% end %>
  </span>
</div>

</br>

<div id="response_showcase">
  <%= render "form" %>
</div>
